/*//META{"name":"I'm that creative with names","description":"High contrast, flat, compact Discord dark mode theme. Works with BetterDiscord/BeautifulDiscord/EnhancedDiscord/anything else","author":"llyyr","version":"2.0.0"}*//**/


.theme-dark {
  --header-primary: #fff; /**/
  --header-secondary: #b9bbbe; /**/
  --text-normal: #DDCCBB; /*#dcddde;*/
  --text-muted: #72767d; /**/
  --text-link: #FFAA0F; /*#00b0f4;*/
  --channels-default: #8e9297; /**/
  --interactive-normal: #b9bbbe; /**/
  --interactive-hover: #dcddde; /**/
  --interactive-active: #fff; /**/
  --interactive-muted: #4f545c; /**/
  --background-primary: black; /*#36393f;*/
  --background-secondary: black; /*#2f3136;*/
  --background-tertiary: black; /*#202225;*/
  --background-accent: black; /*#4f545c;*/
  --background-floating: black; /*#18191c;*/
  --background-mobile-header: black; /*#2f3136;*/
  --background-modifier-hover: #0E0E0E; /*rgba(79, 84, 92, 0.16);*/
  --background-modifier-active: #0E0E0E; /*rgba(79, 84, 92, 0.24);*/
  --background-modifier-selected: #0E0E0E; /*rgba(79, 84, 92, 0.32);*/
  --background-modifier-accent: #0E0E0E; /*hsla(0, 0%, 100%, 0.06);*/
  --elevation-low: 0; /*0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05), 0 2px 0 rgba(4, 4, 5, 0.05);*/
  --elevation-high: 0; /*0 8px 16px rgba(0, 0, 0, 0.24);*/
  --logo-primary: #000; /*#fff;*/
  --guild-header-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); /**/
  --channeltextarea-background: black; /*#40444b;*/
  --activity-card-background: black; /*#202225;*/
  --deprecated-panel-background: black; /*#292b2f;*/
  --deprecated-card-bg: black; /*rgba(32, 34, 37, 0.6);*/
  --deprecated-card-editable-bg: black; /*rgba(32, 34, 37, 0.3);*/
  --deprecated-store-bg: black; /*#36393f;*/
  --deprecated-quickswitcher-input-background: black; /*#72767d;*/
  --deprecated-quickswitcher-input-placeholder: hsla(0, 0%, 100%, 0.3); /**/
  --deprecated-text-input-bg: black; /*rgba(0, 0, 0, 0.1);*/
  --deprecated-text-input-border: black; /*rgba(0, 0, 0, 0.3);*/
  --deprecated-text-input-border-hover: black; /*#040405;*/
  --deprecated-text-input-border-disabled: black; /*#202225;*/
  --deprecated-text-input-prefix: black; /*#dcddde;*/
}

.autocomplete-1vrmpx,
.theme-dark .searchHeader-1l-wpR, .theme-dark .channelSeparator-1X1FuH .channelName-1QajIf, .theme-dark .searchResultsWrap-2DKFzt, .theme-dark .searchResult-3pzFAB .hit-NLlWXA,
.friendsTableHeader-32yE7d, 
.theme-dark .bodyInner-245q0L, .theme-dark .footer-1fjuF6, .theme-dark .quickMessage-1yeL4E,
.header-2BwW8b, .headerPlaying-j0WQBV, .headerStreaming-2FjmGz,
.topSectionPlaying-1J5E4n, .topSectionSpotify-1lI0-P,
.theme-dark .header-ykumBX, .theme-dark .messagesPopout-24nkyi, .theme-dark .messageGroupWrapper-o-Zw7G, .theme-dark .hasMoreButton-1MELpI, .theme-dark .footer-1kmXd4,
.theme-dark .attachment-33OFj0,
.theme-dark .modal-yWgWj-, .theme-dark .footer-3rDWdC,
.theme-dark .container-3ayLPN,
.theme-dark .uploadModal-2ifh8j, .theme-dark .footer-3mqk7D,
.theme-dark .wrapperAudio-1jDe0Q,
.theme-dark .keyboardShortcutsModal-3piNz7,
.video-1FfuMD {
    background-color: var(--background-primary) !important;
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar {
    width: 5px !important;
    background: transparent !important;
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb {
    visibility: hidden !important;
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG:hover::-webkit-scrollbar-thumb {
    visibility: visible !important;
    border-width: initial !important;
    border-color: #202225 !important;
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece {
    background-color: transparent !important;
    border: none !important;
    border-radius: 0px !important;
}

.friendsTable-133bsv {
    padding-top: 0;
}

[class*=searchResult]:after, [class*=searchResult]:before, .theme-dark .option-96V44q:after, .theme-dark .resultsGroup-r_nuzN:before {
    top: none;
    content: none;
}

[class*=timestamp] { /* make timestamps more visible */
	color: #cdd6d8 !important;
}

.theme-dark [class*=searchResult-] [class*=hit-] { /* search result box */
	box-shadow:none;
}

body { /* font */
    font-family: "Liberation Mono";
    line-height: 1.13;
}

.wrapper-pZmgj4 { /* VC userlimit */
    height: 12px;
}

.searchResultsWrap-2DKFzt { /* search result width */
    width: 666px;
}

/*a[href] {
    color: #FFAA0F !important;
}*/

.containerCozy-jafyvG { /* chat message spacing */
	padding: 5px 0px 5px 0px;
}

.buttonWrapper-1ZmCpA { /* gift and gif button */
	display: none;
}

.attachment-33OFj0, .wrapperAudio-1jDe0Q { /* attachment */
	border: 0px;
	padding: 0px;
}

.attachment-33OFj0 > img, .attachment-33OFj0 > a {
    display:none;
}

.messageGroupWrapperOffsetCorrection-phOU-k { /* pinned messages offset correction */
	margin: 0px 0px 0px -20px;
}

.channelTextArea-rNsIhG { /* message input area */
	padding-top: 0px;
	border-top: 0px;
}

.roleName-32vpEy { /* fix role names in user tooltip */
	margin-top: 2.5px;
	overflow: visible;
}

.topic-TCb_qw.expandable-9fI_e3 > img { /*remove emojis from channel topic*/
    display: none;
}

[class*=dots-] { /*remove dots gif*/
    display:none !important;
}


/* IRC separator */
  
:root {
    --username-width: 20ch;
    --timestamp-width: 3rem;
    --header-offset: calc(0.3rem + 0.3em); /* first 0.3em from margin-left on timestamp */
    --separator-margin: 0.5em;
}

[class*=containerCompact-] { /* accessory */
    padding-left: calc(70px - var(--timestamp-default-width) + var(--timestamp-width) + var(--username-width) ) !important;
    padding: 0; /*1.1px 0;*/
    position: relative;
}

[class*=containerCompact-] [class*=timestampCompactBase-] {
    float: left;
    top: 0.3ex;
    width: var(--timestamp-width);
    /*text-align: center;*/
}

/*.headerCompact-3wRt2W {*/
[class*=headerCompact-] {
    position: absolute;
    left: 0;
    padding-bottom: 1px;
}

/*.containerCompact-3V0ioj .usernameWrapper-1S-G5O {*/
[class*=headerCompact-] > span > span[class*=username] {
    display: inline-block;
    width: var(--username-width);
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: var(--separator-margin);
    border-right: solid #DDCCBB;
    border-width: 0 2px;
}

[class*=headerCompact-] > span > span[class*=botTag] {
    position:absolute;
    display:none;
}


[class*=markup-][class*=isCompact-] {
    margin-left: calc(var(--separator-margin) + var(--separator-margin)) !important;
    padding-left: calc(var(--username-width) + var(--timestamp-width) + var(--header-offset)) !important;
    text-indent: 0;
}

/*.containerCompact-3bB5aN {*/
[class*=containerCompact-][class*=content-] ~ [class*=containerCompact-] {
    margin: 0 0 0 calc(var(--separator-margin) + var(--separator-margin)) !important;
    padding-left: calc(var(--username-width) + var(--timestamp-width) + var(--header-offset) + 0rem) !important;
}

[class*=isMentioned-] {
    /*padding: 0;*/
    margin: 0;
}
