/*//META{"name":"I'm that creative with names","description":"High contrast compact Discord dark mode theme. Might work with cozy mode. Don't use on light mode.","author":"llyyr","version":"1.1.0"}*//**/

[class*=markup-],
[class*=title-],
form,
[class*=typing-],
[class*=members-],
[class*=message-],
[class*=embedInner-],
[class*=search-],
.divider span,
[class*=scroller-],
[class*=attachment-],
[class*=messagesWrapper-],
[class*=messageGroupWrapper-],
[class*=wrapperAudio-],
[class*=headerPlaying-],
[class*=body-],
[class*=headerNormal-],
[class*=quickMessage-],
[class*=headerSpotify-],
[class*=menu-],
[class*=topSectionNormal-],
[class*=emojiPicker-],
[class*=autocomplete-],
[class*=audioMetadata-],
[class*=metadataSize-],
[class*=metadata-],
[class*=white-],
[class*=contextMenu-],
[class*=cardWarning-],
[class*=defaultColor-],
[class*=appMount-],
[class*=video-],
[class*=quickSelectPopout-],
[class*=headerBar-],
[class*=panel-],
[class*=bg-],
[class*=footer-],
[class*=searchHeader-],
[class*=hit-],
[class*=header],
[class*=inner-],
[class*=resultsGroup-],
[class*=channels-],
[class*=searchBar-],
[class*=guilds-],
[class*=messages-],
[class*=focused-],
[class*=option-]:after,
[class*=queryContainer-],
[class*=uploadModal-],
[class^=container-],
[class*=channelName-] {
	/* background and text color */
	background: black !important;
	color: #DDCCBB !important;
}

[class*=timestamp] { /* make timestamps more visible */
	color: #cdd6d8 !important;
}

.theme-dark [class*=searchResult-] [class*=hit-] { /* search result box */
	box-shadow: 0 0 10px 6px #000 !important;
}

*, :before, :after { /* font */
    font-family: "Liberation Mono" !important;
}

* { /* line spacing */
    line-height: 1.14;
}

.wrapper-pZmgj4 {
    height: 12px !important;
}

.searchResultsWrap-2DKFzt { /* search result width */
    width: 666px !important;
}

a[href] {
    color: #FFAA0F !important;
}

a:visited {
    color: #FF5D4A !important;
}


.chat-3bRxxu form { /* chat input box margins */
	margin: 0 0 0 0 !important;
}

.container-1giJp5, .container-3baos1 { /* user status/mute/deafen/settings panel */
	align-items: left;
	padding: 0px 6px 2px 6px;
	height: 34px;
	margin-bottom: 0px !important;
}

.nameUnreadText-DfkrI4 { /* channel color */
	color: #00AA00 !important;
}


.container-1UB9sr { /* call status divider */
	border-bottom: 0px !important;
	padding: 0px !important;
}

.containerCozy-jafyvG { /* chat message spacing */
	padding: 5px 0px 5px 0px !important;
}

.containerDefault-3GGEv_ { /* channel category spacing */
	padding: 10px 0px 0px 0px !important;
}

.buttonWrapper-1ZmCpA { /* gift and gif button */
	display: none !important;
}	

.attachment-33OFj0, .wrapperAudio-1jDe0Q { /* attachment */
	border: 0px !important;
	padding: 0px !important:
}

.messageGroupWrapperOffsetCorrection-phOU-k { /* pinned messages offset correction */
	margin: 0px 0px 0px -20px !important;
}

.channelTextArea-rNsIhG { /* message input area */
	padding-top: 0px !important;
	border-top: 0px !important;
}

.roleName-32vpEy { /* fix role names in user tooltip */
	margin-top: 1px !important;
	overflow: visible !important;
}

.wrapper-KpKNwI { /* channels take less space */
	height: 28px !important;
}

.uploadModal-2ifh8j .inner-3nWsbo, .file-34mY5K .icon-kyxXVr.image-2yrs5j { /* high contrast upload modal */
	border: 0px !important;
}

.emoji, .emoji.jumboable {
	margin: 0;
}

/* IRC separator */
  
:root {
    /* ch as unit makes the most sense here,
     * but doesn't work properly with calculating offset of the .accessory div */
    --username-width: 12rem;
    --timestamp-width: 3rem;
    --header-offset: calc(0.3rem + 0.3em); /* first 0.3em from margin-left on timestamp */
    --separator-margin: 0.5em;
     /*--username-width: 13ch;
    --timestamp-width: 9ch;*/ /* use `6ch` for 24h timestamps */
}

[class*=containerCompact-] { /* accessory */
    padding-left: calc(70px - var(--timestamp-default-width) + var(--timestamp-width) + var(--username-width) ) !important;
    padding: 1.1px 0;
    position: relative;
}

[class*=containerCompact-] [class*=timestampCompactBase-] {
    float: left;
    top: 0.3ex;
    width: var(--timestamp-width);
    /*text-align: center;*/
}

/*.headerCompact-3wRt2W {*/
[class*=headerCompact-] {
    position: absolute;
    left: 0;
    padding-bottom: 1px; /* for on-hover underline on border; user_style.css */
}

/*.containerCompact-3V0ioj .usernameWrapper-1S-G5O {*/
[class*=headerCompact-] > span > span[class*=username] {
    display: inline-block;
    width: var(--username-width);
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: var(--separator-margin);
    border-right: solid #DDCCBB;
    border-width: 0 2px;
}

[class*=headerCompact-] > span > span[class*=botTag] {
    position:absolute;
    display:none;
}


[class*=markup-][class*=isCompact-] {
    margin-left: calc(var(--separator-margin) + var(--separator-margin)) !important;
    padding-left: calc(var(--username-width) + var(--timestamp-width) + var(--header-offset)) !important;
    text-indent: 0;
}

/*.containerCompact-3bB5aN {*/
[class*=containerCompact-][class*=content-] ~ [class*=containerCompact-] {
    margin: 0 0 0 calc(var(--separator-margin) + var(--separator-margin)) !important;
    padding-left: calc(var(--username-width) + var(--timestamp-width) + var(--header-offset) + 0rem) !important;
}

[class*=isMentioned-] {
    /*padding: 0;*/
    margin: 0;
}

[class*=username] {
    font-weight: 400;
}

.topic-TCb_qw.expandable-9fI_e3 > img {
    display: none !important;
}


/*
*, :before, :after {
  -webkit-transition-property: none !important;
  transition-property: none !important;
  -webkit-animation: none !important;
  -webkit-transition: none !important;
  transition: none !important;
  -moz-animation: none !important;
  animation: none !important;
  transform: none !important;
}
*/

[class*=dots-] {
    display:none !important;
}

