/*//META{"name":"I'm that creative with names","description":"High contrast, flat, compact Discord dark mode theme. Works with BetterDiscord/BeautifulDiscord/EnhancedDiscord/anything else","author":"llyyr","version":"2.1.0"}*//**/


.theme-dark {
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    --text-normal: #DDCCBB; 
    --text-muted: #72767d; 
    --text-link: #FFAA0F;
    --channels-default: #8e9297;
    --interactive-normal: #b9bbbe; 
    --interactive-hover: #dcddde; 
    --interactive-active: #fff; 
    --interactive-muted: #4f545c;
    --background-primary: black; 
    --background-secondary: black; 
    --background-tertiary: black;
    --background-accent: black;
    --background-floating: black;
    --background-mobile-header: black;
    --background-modifier-hover: #0E0E0E;
    --background-modifier-active: #0E0E0E; 
    --background-modifier-selected: #0E0E0E;
    --background-modifier-accent: #000;
    --elevation-low: 0;
    --elevation-high: 0;
    --logo-primary: #000;
    --guild-header-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    --channeltextarea-background: black;
    --activity-card-background: black;
    --deprecated-panel-background: black;
    --deprecated-card-bg: black;
    --deprecated-card-editable-bg: black;
    --deprecated-store-bg: black;
    --deprecated-quickswitcher-input-background: black;
    --deprecated-quickswitcher-input-placeholder: hsla(0, 0%, 100%, 0.3);
    --deprecated-text-input-bg: black;
    --deprecated-text-input-border: black;
    --deprecated-text-input-border-hover: black;
    --deprecated-text-input-border-disabled: black;
    --deprecated-text-input-prefix: black;
}


div, img {
	image-rendering: optimizeSpeed !important;
}

.autocomplete-1vrmpx,
.theme-dark .searchHeader-1l-wpR, .theme-dark .channelSeparator-1X1FuH .channelName-1QajIf, .theme-dark .searchResultsWrap-2DKFzt, .theme-dark .searchResult-3pzFAB .hit-NLlWXA,
.friendsTableHeader-32yE7d, 
.theme-dark .bodyInner-245q0L, .theme-dark .footer-1fjuF6, .theme-dark .quickMessage-1yeL4E,
.header-2BwW8b, .headerPlaying-j0WQBV, .headerStreaming-2FjmGz,
.topSectionPlaying-1J5E4n, .topSectionSpotify-1lI0-P,
.theme-dark .header-ykumBX, .theme-dark .messagesPopout-24nkyi, .theme-dark .messageGroupWrapper-o-Zw7G, .theme-dark .hasMoreButton-1MELpI, .theme-dark .footer-1kmXd4,
.theme-dark .attachment-33OFj0,
.theme-dark .modal-yWgWj-, .theme-dark .footer-3rDWdC,
.theme-dark .container-3ayLPN,
.theme-dark .uploadModal-2ifh8j, .theme-dark .footer-3mqk7D,
.theme-dark .wrapperAudio-1jDe0Q,
.theme-dark .keyboardShortcutsModal-3piNz7,
.video-1FfuMD,
.theme-dark .container-2x5lvQ .header-2C89wJ, .theme-dark .container-2x5lvQ section,
.theme-dark .players-1zg2l8, .theme-dark .footer-3J5oP4,
.theme-dark .popoutList-T9CKZQ,
.theme-dark .tierBody-x9kBBp,
.theme-dark .root-1gCeng,
.theme-dark .peopleColumn-29fq28,
.theme-dark .action-1lSjCi,
.theme-dark .container-1giJp5, .theme-dark .container-3baos1,
.theme-dark .inset-3sAvek,
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
    background-color: var(--background-primary) !important;
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar {
    width: 5px !important;
    background: transparent !important;
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb {
    visibility: hidden !important;
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG:hover::-webkit-scrollbar-thumb {
    visibility: visible !important;
    border-width: initial !important;
    border-color: #202225 !important;
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece {
    background-color: transparent !important;
    border: none !important;
    border-radius: 0px !important;
}

.friendsTable-133bsv {
    padding-top: 0;
}

[class*=searchResult]:after, [class*=searchResult]:before, .theme-dark .option-96V44q:after, .theme-dark .resultsGroup-r_nuzN:before {
    top: none;
    content: none;
}

.icon-2Po-VO {
	display: none;
}

[class*=timestamp], .timestampVisibleOnHover-2bQeI4 { /* make timestamps more visible */
    color: #dcb !important;
}

.theme-dark [class*=searchResult-] [class*=hit-] { /* search result box */
    box-shadow:none;
}

*:not([class*="hljs"]):not(code) { /* font */
    font-family: "Fira Code";
}

.searchResultsWrap-2DKFzt { /* search result width */
    width: 666px;
}

/*a[href] {
    color: #FFAA0F !important;
}*/

.channelTextArea-rNsIhG, .form-2fGMdU { /* chat input box margins */
	margin-top: unset;
    margin-left: unset;
    margin-right: unset;
    border: unset;
}


.containerCozy-jafyvG { /* chat message spacing */
    padding: 5px 0px 5px 0px;
}

.buttonWrapper-1ZmCpA { /* gift and gif button */
    display: none;
}

.attachment-33OFj0, .wrapperAudio-1jDe0Q { /* attachment */
    border: 0px;
    padding: 0px;
}

.attachment-33OFj0 > img, .attachment-33OFj0 > a {
    display:none;
}

.messageGroupWrapperOffsetCorrection-phOU-k { /* pinned messages offset correction */
    margin: 0px 0px 0px -20px;
}

.channelTextArea-rNsIhG { /* message input area */
    padding-top: 0px;
    border-top: 0px;
}

.roleName-32vpEy { /* fix role names in user tooltip */
    margin-top: 2.5px;
    overflow: visible;
}

.topic-TCb_qw.expandable-9fI_e3 > img { /*remove emojis from channel topic*/
    display: none;
}

[class*=dots-] { /*remove dots gif*/
    display:none !important;
}

.newMessagesBar-mujexs {
	background: black;
}